Instance names

From [RFC 6763 section 4.1.1](https://tools.ietf.org/html/rfc6763#section-4.1.1)

> The <Instance> portion of the Service Instance Name is a user-
   friendly name consisting of arbitrary Net-Unicode text [RFC5198].  It
   MUST NOT contain ASCII control characters (byte values 0x00-0x1F and
   0x7F) [RFC20] but otherwise is allowed to contain any characters,
   without restriction, including spaces, uppercase, lowercase,
   punctuation -- including dots -- accented characters, non-Roman text,
   and anything else that may be represented using Net-Unicode.

See also #64

If you want to include a dot in the instance name, you must escape it with a backslash; e.g. `@"instance\.name"`