Not responding to "QU" questions

@gaviriar and I discovered a problem with queries. A service was not responding to `PTR` queries issued by a Java client, while responding to `PTR` queries originating from a C# client that uses this library.

![grafik](https://user-images.githubusercontent.com/5894642/53398820-ddce0200-39aa-11e9-967f-26bfd147f6a4.png)

The corresponding log (awesome logging, by the way!) shows that all queries were received, but a response was only sent for the first:

![grafik](https://user-images.githubusercontent.com/5894642/53398884-ff2eee00-39aa-11e9-8d4f-20f754313fd6.png)

Upon investgation with Wireshark, I found that the two libraries (this one vs. the Java alternative) issued different `PTR` queries:

![grafik](https://user-images.githubusercontent.com/5894642/53399089-8aa87f00-39ab-11e9-98c3-0e7bd7b829ae.png)

So the Java library issued a `QU` question, as described in [RFC6769 section 5.4](https://tools.ietf.org/html/rfc6762#section-5.4):

> To avoid large floods of potentially unnecessary responses in these
   cases, Multicast DNS defines the top bit in the class field of a DNS
   question as the **unicast-response bit**.  When this bit is set in a
   question, it indicates that the querier is willing to accept unicast
   replies in response to this specific query, as well as the usual
   multicast responses.  These questions requesting unicast responses
   are referred to as "QU" questions, to distinguish them from the more
   usual questions requesting multicast responses ("QM" questions).  A
   Multicast DNS querier sending its initial batch of questions
   immediately on wake from sleep or interface activation SHOULD set the
   unicast-response bit in those questions.

As far as I can tell this is completely okay behavior by the Java client, but `net-mdns` should have responded.

Since the logger doesn't show any errors, I assume that the condition in [`ServiceDiscovery.cs#208`](https://github.com/richardschneider/net-mdns/blob/master/src/ServiceDiscovery.cs#L208) is fulfilled and this is some kind of parsing problem, @richardschneider ?

cheers

@michaelosthege could you try the new build and see if #51 solves this issue.

Cheers

@richardschneider yes, I tested it with 0.16.1 from the CI build and it works!
Can you release it on NuGet then?

Thank you for fixing this so fast!